<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <select ng-model="sourceAP" ng-options="x.iatacode as x.name for x in ap" class="form-control">
                <option value='' selected>{{mess.choose_departure_airport}}</option>
            </select>
        </div>
        <div class="col-sm-4">
            <select ng-model="destAP" ng-options="x.iatacode as x.name for x in destinations" class="form-control animated fadeIn">
                <option value='' selected>{{mess.choose_destination_airport}}</option>
            </select>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <label>{{mess.choose_departure_date}}</label>
            <md-datepicker ng-model="departureDate" md-placeholder="Choose date"></md-datepicker>
        </div>
        <div class="col-sm-4">
            <label>{{mess.choose_return_date}}</label>
            <md-datepicker ng-model="comebackDate" md-placeholder="Choose date"></md-datepicker>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <br>
    <div class="row" ng-if="sourceAP && destAP && departureDate && comebackDate">
        <button class="btn btn-primary" ng-click="prepareCall()">Search</button>
    </div>
    <br>
    <br>
</div>
<div class="container" ng-if="flights">
    <div class="row">
        <div class="col-sm-3">Departure from {{sourceAP}}</div>
        <div class="col-sm-3">Departure from {{destAP}}</div>
        <div class="col-sm-5">Price</div>
        <div class="col-sm-1">Currency</div>
    </div>
    <div class="row" ng-repeat="x in flights">
        <div class="col-sm-3">{{x.dateFrom}}</div>
        <div class="col-sm-3">{{x.dateTo}}</div>
        <div class="col-sm-5">{{x.price}}</div>
        <div class="col-sm-1">{{x.currency}}</div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>

